@namespace html url(http://www.w3.org/1999/xhtml);

/* WHITELIST HERE */
@-moz-document url-prefix("about:"),
regexp("(ht|f)tps?://(?!([^/]*?\\.)?(example.whitelist.com|second.example)).*") {
  
    /* CHANGE LINK COLOR HERE */
    a:link {
        color: #3cf !important;
        text-decoration: none !important;
        border: 0 !important;
    }
  
    /* CHANGE VISTED LINK COLOR HERE */
    a:visited {
        color: #55b !important;
        text-decoration: none !important;
        border: 0 !important
    }
  
      /* Fix some link's backgrounds */
    a {
        background-color: transparent!important;
    }

    /* Make everything black, make borders grey */
    *, ::after, ::before {
        color: #fff !important;
        background-color: #000 !important;
        /* background-color: transparent !important; */
        border-color: #555 !important;
        border-width: 1px !important;
        outline-color: #555 !important;
        text-shadow: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
    }
    
     ::after, ::before {
        background-color: transparent !important;
    }
  
    /* Background color for transparent images */
    img {
        background-color: #AAA !important;
    }
  
    /* Make input and buttons more visible */
    input,
    button {
        color: #777 !important;
        border: solid !important;
        border-color: #555 !important;
        border-width: 1px !important;
    }
  
    
    /* div {
        color: #AAAAAA !important;
        background-color: transparent!important;
        background-image: none !important;
      
    } */
  
    /* span {
        color: #AAAAAA !important;
        background-color: transparent!important;
        background-image: none !important;
    } */
}


/* FIREFOX BROWSER */
@-moz-document url-prefix("chrome:") {
  
    /* Browser's background */
    browser {
        background-color: #000 !important;
    }
  
    /* Window that pops up when you hover over links */
    .statuspanel-label {
        background: #000!important;
        color: #fff!important
    }
  
    /* Context menu */
    menupopup#contentAreaContextMenu .scrollbox-innerbox {
        background-color: #000 !important;
        color: #fff !important;
    }
}


/* Per-Site fixes */
