@namespace html url(http://www.w3.org/1999/xhtml);

/* WHITELIST HERE */
@-moz-document url-prefix("about:"),
regexp("(ht|f)tps?://(?!([^/]*?\\.)?(example.whitelist.com|second.example)).*") {
  
    /* CHANGE LINK COLOR HERE */
    a:link * {
        color: #3cf !important;
        text-decoration: none !important;
        border: 0 !important;
    }
    
        /* CHANGE VISTED LINK COLOR HERE */
    a:link {
        color: #3cf !important;
        text-decoration: none !important;
        border: 0 !important
    }
  
    /* CHANGE VISTED LINK COLOR HERE */
    a:visited {
        color: #55b !important;
        text-decoration: none !important;
        border: 0 !important
    }
  
    /* Make everything black, make borders grey */
    *, ::after, ::before {
        color: #eee !important;
        background-color: #000 !important;
        border-color: #555 !important;
        outline-color: #555 !important;
        text-shadow: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
    }
   
     a, ::after, ::before {
        background-color: transparent !important;
    }
  
    /* Background color for transparent images */
    img {
        background-color: #DDD !important;
    }
    
    /* Increase input visibility */
    input {
        color: #777 !important;
        border: solid !important;
        border-color: #555 !important;
        border-width: 1px !important;
    }
    
    /* Increase button and label visibility */
    button, label {
        color: #777 !important;
    }
    
    /* Retains some content */
       div:not([id*="image"]):not([class*="button"]):not([role*="button"]):not([id*="bar"]):not([id*="head"]):not([class*="drop"]):not([class*="menu"]):not([class*="Flyout"]):not([class*="dialog"]):not([class*="float"]):not([class*="window"]):not([class*="lift"]):not([class*="bar"]):not([role*="banner"]):not([role*="bubble"]):not([role*="hover"]):not([role*="dialog"]):not([class*="grip"]):not([class*="flyout"]):not([class*="btn"]) {
        background-color: transparent!important;
        background-image: none !important;
    } 
}


/* FIREFOX BROWSER */
@-moz-document url-prefix("chrome:") {
  
    /* Browser's background */
    browser {
        background-color: #000 !important;
    }
  
    /* Window that pops up when you hover over links */
    .statuspanel-label {
        background: #000!important;
        color: #eee !important
    }
  
    /* Context menu */
    menupopup#contentAreaContextMenu .scrollbox-innerbox {
        background-color: #000 !important;
        color: #eee !important;
    }
}


/* Per-Site fixes */
